@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}

html{
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
}
body {
  color: #202020;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.wrap{
  max-width: 990px;
  padding: 0 15px;
  margin: 0 auto;
}